body {
  margin: 5% 3%;
  background-image: url('../image/videoblocks-gray-technology-background-with-binary-codes-and-hexagons_bk0payk6x_thumbnail-full01.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
footer {
  z-index: 10;
  background-color: rgba(9, 9, 10, 0.71);
  color: rgb(236, 236, 236);
}

nav,
main,
footer {
  max-width: 1024px;
}

* p {
  line-height: 1.6rem;
  font-size: 1.5rem;
  margin: 2.5% 0;
}

* h3 {
  font-size: 2rem;
}

.items a,
.contacts a {
  text-decoration: none;
}

.contacts > ul > li > a:hover,
.items a:hover,
.nav > ul > li > a:hover {
  color: azure;
  -webkit-transition: color .5s ease, padding .5s ease;
  -moz-transition: color .5s ease, padding .5s ease;
  transition: color .5s ease, padding .5s ease;
}

@media screen and (min-device-width: 700px) {
  body {
    margin: 0% 3% 3% 3%;
  }
}