/* competence and education sections */

.wrap_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2.5%;
}

.items {
  width: 100%;
  margin: 2.5% 0;
  padding-bottom: 1%;

  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: .4rem dotted rgba(138, 59, 6, 0.61);
}

.items p > span {
  font-size: 1rem;
}

.items > a {
  font-size: 1.5rem;
  margin: 1rem;
  opacity: .8;
}

@media screen and (min-device-width: 700px) {
  
  .wrap_items {
    justify-content: space-around;
  }

  .items {
    width: 40%;
  }

  .items a {
    margin: 0.5rem;
  }
}