@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli/Muli-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../icons/font/fontello.svg');
  font-weight: normal;
  font-style: normal;
}

.nav > ul > li > a,
h1,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  color: #d0d5f1;
  font-weight: 900;
}

* p,
.li,
.items > a,
.project li,
.project a {
  font-family: 'Muli', sans-serif;
}