* {
  box-sizing: border-box;
}

[id='nav-toggle'] {
  position: absolute;
  display: none;
}

.nav {
  width: 70%;
  min-width: 12.5rem;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -65%;
  padding: 15px 20px;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  background: #000000b4;
  z-index: 2000;
}

.nav-toggle {
  position: absolute;
  left: 95%;
  top: 1.5rem;
  padding: 0.5em;
  background: inherit;
  color: #ff6f01;
  cursor: default;
  font-size: 1.2em;
  line-height: 1;
  z-index: 2001;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
  content: '\2715';
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
}

.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
  font-weight: bold;
  font-size: 5rem;
}

.nav > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

[id='nav-toggle']:checked ~ .nav {
  left: 0;
  box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.35);
  -moz-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.35);
  -webkit-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.35);
  overflow-y: auto;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav > ul > li {
  line-height: 2.5;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
  -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
  -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
  transition: opacity .5s .1s, transform .5s .1s;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: default;
  text-decoration: underline;
}

.nav > ul > li > a:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  -webkit-transition: width 0s ease;
  transition: width 0s ease;
}

.nav > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0;
  font-size: 4rem;
  text-align: center;

  width: 100%;
  text-decoration: none;
  -webkit-transition: color .5s ease, padding .5s ease;
  -moz-transition: color .5s ease, padding .5s ease;
  transition: color .5s ease, padding .5s ease;
}

.nav > ul > li > a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav > ul > li > a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #ffffff94;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

[id='nav-toggle']:checked ~ main,
[id='nav-toggle']:checked ~ footer {
  -webkit-transform: translateX(98px);
  -moz-transform: translateX(98px);
  transform: translateX(98px);
}

article {
  margin: 0 1em;
  padding: 0 22px;
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

@media screen and (min-device-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    position: static;
    height: 0%;
    width: 100%;
  }

  .nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav > ul > li {
    opacity: .8;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav > ul > li > a {
    font-size: 1.5rem;
  }

  .nav > ul > li > a:after {
    background: none;
  }
}
